@font-face {
  font-family: 'Open Sans';
  src: url('../Fonts/OpenSans-Bold.ttf') format('truetype');
}
 
@font-face {
  font-family: 'OpenSans';
  src: url('../Fonts/OpenSans-SemiBold.ttf') format('truetype');
}
 
@font-face {
  font-family: 'OpenSans';
  src: url('../Fonts/OpenSans-Regular.ttf') format('truetype');
}

